@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background:linear-gradient(rgba(265,122,122,0.8), rgba(265,122,122,0.8)) ,url(./images/bg-intro-desktop.png) ;
    background-repeat: no-repeat;
}

.container{
    max-width: 80vw;
    height: 80vh;
    background: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.texto-principal{
    width: 45%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.formulario{
    width: 45%;
    height: 70%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


