@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background:linear-gradient(rgba(265,122,122,0.7), rgba(265,122,122,0.7)) ,url(./images/bg-intro-desktop.png) ;
    background-repeat: no-repeat;
}

.container{
    width: 90vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    
   
}

.texto-principal{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
    width: 45%;
    height: 30vh;
    padding-left: 6rem;
}
.titulo{
    width: 80%;
    margin-right: 90px ;
    color: white;
    font-size: 2.5rem;
}
.sub-texto{
    font-size: 14px;
    color: white;
}

.conteudo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.primeiro-botao{
    margin-bottom: 1.5rem;
    box-shadow:  0 5px 0 0 rgba(0, 0, 0, 0.2);
    border-radius:  5px;
}
.botao-aviso{
    width: 35vw;
    height: 50px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: hsl(248, 32%, 49%);
    color: hsl(246, 25%, 77%);
    
}
.primeiro-span{
    color: white;
    font-weight: 600;
}
.principal{
    width: 35vw;
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    gap: 1rem;

}

.bot-principal{
    height: 3rem;
    width: 80%;
    border-radius: 5px;
    border: 1px solid hsl(246, 25%, 77%);
    padding-left: 2rem;
    font-weight: 600;
}

.bot-principal:focus, input:focus{
    outline: 1px solid hsl(246, 25%, 77%);
    caret-color: hsl(246, 25%, 77%);
}

.botao-confirmar{
    width: 80%;
    height: 3rem;
    border: none;
    background-color: hsl(154, 59%, 51%);
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    font-weight: 500;
    cursor: pointer;
}

.texto-final{
font-size: 10px;
color: hsl(246, 25%, 77%);
}

.texto-final span a{
    text-decoration: none;
    color: hsl(0, 100%, 74%);
}